input:checked{
     width: 1.2rem;
     height: 1.2rem;
     accent-color: red;
}
.article:nth-child(odd) {
    background-color: #ffcccc;
    padding: 10px;
  }
  
  .article:nth-child(even) {
    background-color: #99ff99;
    padding: 10px;
  } 