form{
    margin-left: 15px;
}
h1{
    color: white;
}
h2{
    color: red;
    margin-top: -20px;
    border-bottom: 2px solid white;

}
body{
    background-image: url("travelform.png");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom:40px;
   
   }


input{
    width: 350px;
    height: 20px;
   

}
select{
    width: 360px;
    height: 25px;
    margin-top: 10px;
    color: gray;
}


sup{
    color: red;
}
button{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    height: 36px;
    width: 100px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    
   }

 #date{
    color: gray;
    height: 25px;
 }
  
  input[type="checkbox"]{
    appearance: none;
    width: 15px;
    height: 15px;
    outline: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: -2px;
    margin-top: 20px;
 
    

}

input[type="checkbox"]:checked,input[type="radio"]:checked{
   width: 15px;
   height: 15px;
   appearance: checkbox;
}
input[type="radio"]{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
   margin-top:20px;
   margin-bottom: -2px;
}


  
 